.input{
    font-size: 1.5rem;
    border: none;
    outline: none;
    border-radius: 20px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Montserrat', sans-serif;
    background-color: transparent;
    color: #D6D5A8;
    border-width: 2px;
    border-style: solid;
    border-color: #D6D5A8;
    margin: 10px;
}

::placeholder{
    color: #D6D5A8;
}