.company-home-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.post-job-container{
    text-align: center;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 1285px) {
    .post-job-container{
        flex-direction: column;
    }
}

.company-heading{
    margin: 0;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    color: #D6D5A8;
    width: fit-content;
}

.job-card{
    background-color: #263446;
    margin: 20px;
    width: 550px;
    height: fit-content;
    border-radius: 40px;
}

.job-title{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: white;
    padding-top: 10px;
    font-weight: 500;
    font-size: 2rem;
}

.job-description{
    margin: 0;
    overflow-wrap: break-word;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 1.2rem;
    color: #D6D5A8;
}

.job-salary{
    margin: 0;
    overflow-wrap: break-word;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
    padding-bottom: 20px;
    font-size: 1rem;
    color: gray;

}

.job-applicants{
    margin: 0;
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    color: grey;
    cursor: pointer;
    transition: ease 0.5s;
}

.job-applicants:hover{
    color: #D6D5A8;
    text-decoration: underline;
}

.job-delete{
    color: white;
    font-size: 1.5rem;
    margin-bottom: 20px;
    cursor: pointer;
    transition: ease 0.3s;
}

.job-delete:hover{
    color: gray;
}

.logout{
    position: absolute;
    right: 50px;
    top: 50px;
    color: white;
    font-size: 1.5rem;
    margin-bottom: 20px;
    cursor: pointer;
    transition: ease 0.3s;
}

.logout:hover{
    color: gray;
}

.backdrop{
    display: flex;
    flex-direction: column;
}
.applicant-card{
    background-color: #D6D5A8;
    margin: 20px;
    width: 550px;
    height: fit-content;
    border-radius: 40px;
}

.applicant-name{
    color: #263446;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    margin: 0;
}
.applicant-description{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    margin-top: 8px;
    overflow-wrap: break-word;
}
.applicant-email{
    margin: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}
.applicants-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.close{
    color: #D6D5A8;
    font-size: 3rem;
    margin: 20px;
    cursor: pointer;
    transition: 0.5s ease;
}
.close:hover{
    color: #51557E;
}

@media only screen and (max-width: 605px) {
    .job-card{
        width: 400px;
    }
    .logout{
        display: flex;
         position: relative;
        bottom: 50px;
        top: 0;
        right: 0; 
    }
    .applicant-card{
        width: 300px;
    }
}
@media only screen and (max-width: 470px) {
    .job-card{
        width: 300px;
    }
}